.title{

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vc {
  margin: auto;
  position: absolute;
  left: 0;  right: 0;
}

.instruct{
	text-align: center;
	width: 50% !important;
}

.one_tweet{
	width: 75% !important;
	margin: auto;
  	position: absolute;
  	left: 0;  right: 0;
  	display:block;
  	float: none;
}

body {
  background-color: #D6F3F0;
  opacity: 75%;
  text-align: center;
}

@media (min-width: 750px){

.instruct{
	text-align: center;
	width: 375px !important;
}

}