.title{

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vc {
  margin: auto;
  position: absolute;
  left: 0;  right: 0;
}

.instruct{
	text-align: center;
	width: 50% !important;
}

body {
  background-color: #D6F3FF;
  opacity: 75%;
  text-align: center;
}

@media (min-width: 750px){

.instruct{
	text-align: center;
	width: 350px !important;
}

}